/* src/components/MudraCard.css */
.mudra-card {
    perspective: 1000px;
    cursor: pointer;
    width: 280px;
    height: 320px;
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.mudra-card:hover {
    transform: scale(1.1); /* Expands the card by 1.1 on hover */
}

.mudra-card-front,
.mudra-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    transition: transform 0.6s;
    padding: 10px;
    color: white;
}

.mudra-card-front {
    background-color: #EEC170;
    transform: rotateY(0deg);
}

.mudra-card-back {
    background-color: #F2A65A;
    transform: rotateY(180deg);
}

.mudra-card.flipped .mudra-card-front {
    transform: rotateY(180deg);
}

.mudra-card.flipped .mudra-card-back {
    transform: rotateY(0deg);
}

.mudra-image {
    width: 190px;
    height: auto;
    border-radius: 20%;
}

.mudra-name,
.mudra-translation {
    font-size: 1.1em;
    margin-top: 10px;
}

.mudra-usage {
    font-size: 0.9em;
    text-align: center;
}