/* src/App.css */
.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  color: #585123;
  margin-top: 20px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.animation-container {
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #F58549;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #F2A65A;
}
